# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node

name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Linter
        run: npm run lint
      - name: Prettier Format
        run: npm run format
